<article class="comment">
  <span class="profile">
    <%= image_tag comment.user.avatar.variant(resize: '50x50'), class:'avatar' if comment.user.avatar.attached? %>
    <img src="https://fakeimg.pl/50x50/" class="avatar"> 
    <span class="username"><%= comment.username %></span>
  </span>
  <%= comment.content %>
</article>